@import "colors";

$size: 36px;

.avatar {
  vertical-align: middle;
  height: $size;
  line-height: $size;
  width: $size;
  border-radius: 100px;
  background: $gray-5;
  color: $light-gray-2;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
