
@import "fonts";
@import "colors";

section.visit-section {
  padding-bottom: 25px !important;

  & h2 { font-size: 32px; }
  & h3 { font-size: 24px !important; }
}

.visit-subsection {
  display: flex;
  margin: 30px -20px 50px 0;
  align-items: flex-start;

  & .column {
    flex: 1 0;
    margin-left: 20px;
  }
}

.edit-button {
  margin-bottom: 15px;
}

.delete-button {
  float: right;
  margin: 0 0 20px 20px;
}

.timestamp {
  color: $gray-3;
  font-family: $sans-serif-stack;
  font-size: 14px;
  margin-left: 15px;
}
