@import "colors";
@import "mixins";

.wrapper {
  position: relative;
}

div.dialog {
  width: 900px !important;

  & h2 {
    margin-top: 30px;
  }
}

.columns {
  display: flex;
  margin-left: -20px;

  & > label {
    flex: 1 0;
    margin-left: 20px;
  }
}

.submit {
  margin: 10px 30px 0 0;
}

.error {
  background: rgba($red-3, 0.1);
  padding: 20px 25px;
  display: block;
}

.error-wrapper {
  margin: 25px 0 15px;
}

.photo-column {
  flex: 1 0;

  & p {
    color: $dark-gray-1;
    font-size: 14px;
  }
}

.photo-container {
  width: 100%;
  position: relative;

  & img {
    display: block;
    width: 100%;
    border-radius: 4px;
  }
}

.annotation-pin {
  $size: 30px;

  position: absolute;
  transform: translateX(-50%);

  & span {
    position: absolute;
    z-index: 2;
    display: block;
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    top: calc($size / 2 + 7px);
    font-weight: bold;
    color: $white;
  }

  &::before {
    content: "";
    position: absolute;
    width: $size;
    height: $size;
    border-radius: $size $size $size 0;
    box-shadow: 0 0 0 5px rgba($black, 0.5);
    background: $dark-gray-3;
    top: calc($size / 2);
    left: calc(-1 * $size / 2);
    transform: rotate(135deg);
    z-index: 1;
  }
}

.annotations-column {
  padding-left: 20px;
  flex: 0 1 300px;
}

div.annotation {
  margin-bottom: 12px;
  padding: 8px;

  & strong {
    display: block;
    padding-left: 5px;
    font-size: 18px;
    line-height: 33px;
  }

  & textarea {
    display: block;
    width: 100%;
    resize: vertical;
  }
}

.delete-link {
  float: right;
  margin: 0 0 5px 10px;
}

div.photo-thumbnail {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 10px 10px 2px;

  & img {
    border-radius: 4px;
    display: block;
    margin-bottom: 7px;
  }
}

div.photo-annotation-row {
  margin-bottom: 20px;
  display: flex;
}
