@import "colors";
@import "animation";
@import "mixins";

.row {
  display: block;
  padding: 15px 0;
  transition: background $fast linear;
  cursor: pointer;
  border-bottom: 1px solid $gray-1;

  &:hover {
    background: rgba($blue-3, 0.1);
  }

  &:last-child {
    border-bottom: 0;
  }
}

.fields {
  display: flex;
  align-items: center;
}

.field {
  flex: 0 1;
  padding: 0 15px;
  white-space: nowrap;
  font-size: 16px;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: $gray-2;
  display: block;
  line-height: 1;
  margin-top: 4px;
}

.id {
  color: $gray-3 !important;
  padding-right: 0;
}

.name-field {
  flex: 1 0;
}

.name {
  transition: color $fast linear;
  color: $blue-3;
  font-weight: 700;
  font-size: 20px;
  display: block;
  margin-bottom: 2px;
}

.email {
  font-size: 14px;
  color: $dark-gray-1;
  line-height: 1;
  display: block;
}

.highlight {
  color: $red-3;
}

.visits {
  padding: 0 15px 0 65px;
}
