$sans-serif-stack: "lasiver", "helvetica", "arial", sans-serif;
$serif-stack: "romana", "georgia", serif;

@font-face {
  font-family: "icons-16";
  src: url("assets/fonts/icons/icons16.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "icons-20";
  src: url("assets/fonts/icons/icons20.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "romana";
  src:
    url("assets/fonts/romana/romanaLight.woff2") format("woff2"),
    url("assets/fonts/romana/romanaLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "romana";
  src:
    url("assets/fonts/romana/romanaBook.woff2") format("woff2"),
    url("assets/fonts/romana/romanaBook.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "romana";
  src:
    url("assets/fonts/romana/romanaMedium.woff2") format("woff2"),
    url("assets/fonts/romana/romanaMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "romana";
  src:
    url("assets/fonts/romana/romanaSemibold.woff2") format("woff2"),
    url("assets/fonts/romana/romanaSemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "romana";
  src:
    url("assets/fonts/romana/romanaBold.woff2") format("woff2"),
    url("assets/fonts/romana/romanaBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "romana";
  src:
    url("assets/fonts/romana/romanaBlack.woff2") format("woff2"),
    url("assets/fonts/romana/romanaBlack.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "lasiver";
  src:
    url("assets/fonts/lasiver/lasiverMedium.woff2") format("woff2"),
    url("assets/fonts/lasiver/lasiverMedium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "lasiver";
  src:
    url("assets/fonts/lasiver/lasiverBold.woff2") format("woff2"),
    url("assets/fonts/lasiver/lasiverBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "value-serif";
  src: url("assets/fonts/value/valueSerif.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "value";
  src: url("assets/fonts/value/valueRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

@font-face {
  font-family: "value";
  src: url("assets/fonts/value/valueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FEFF;
}

/* Style Guide fonts */

$font-primary: "Roboto", Roboto, -apple-system, BlinkMacSystemFont, sans-serif;
$font-secondary: "LatoWeb", "helvetica", "arial", sans-serif;
$font-headings: "Times New Roman", Times, serif;

@font-face {
  font-family: "Roboto";
  src:
    url("assets/fonts/roboto/robotoLight.woff2?v=2.137") format("woff2"),
    url("assets/fonts/roboto/robotoLight.woff?v=2.137") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("assets/fonts/roboto/robotoRegular.woff2?v=2.137") format("woff2"),
    url("assets/fonts/roboto/robotoRegular.woff?v=2.137") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("assets/fonts/roboto/robotoMedium.woff2?v=2.137") format("woff2"),
    url("assets/fonts/roboto/robotoMedium.woff?v=2.137") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:
    url("assets/fonts/roboto/robotoBold.woff2?v=2.137") format("woff2"),
    url("assets/fonts/roboto/robotoBold.woff?v=2.137") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LatoWeb';
  src:
    url('assets/fonts/lato/latoItalic.woff2') format('woff2'),
    url('assets/fonts/lato/latoItalic.woff') format('woff');
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
